*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height:100vh;
    background-image: url(numbersGif.gif);
    background-size: cover;
}
#calculadora{
    background-color: #3a5872;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
}
.tituloCaluladora{
    margin-bottom: 5px;
    color: #9faab6;
    display: flex;
    justify-content:space-between;
    align-items: end;
}
.logo{
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
.modelo{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.subtitulo{
    color: #c86e78;
    font-family: "Black Ops One", system-ui;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
}
.botones{
    margin: 0 auto;
    text-align: center;
}
button{
    background-color:rgba(134,150,165,255);
    border-radius: 5px;
    color: white;
    height: 50px;
    width: calc(25% - 10px);
    font-size: 28px;
    border: #697394 solid 2px;
    margin: 3px;
    transition: .3s ease;
    cursor: pointer;
}
button:hover{
    background-color:black!important;
}
#ac{
    background-color:salmon
}
.operador{
    background-color:#2b4753;
}
.displays{
    margin-bottom: 15px;
    border-radius:5px;
    border: solid 1px#b6d1c2;
}
#displayResultado, #operacion{
    background-color: #b6d1c2;
    width: 100%;
    border: none;
    padding-right: 5px;
    color: black;
    text-align: right;
    font-family: "Black Ops One", system-ui;
}
#operacion{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
}
#displayResultado{
    font-size: 35px;
    font-weight: bold;
    height: 60px;
}
.developer{
    margin-top: auto;
    background-color: salmon;
    color: white;
    padding: 0.5% 0 0.5% 2%;
    font-family: "Unbounded", sans-serif;
}
.developer a{
    font-weight: bold;
    font-size: large;
    color: #282828;;
}
.developer a:hover{
    color: black;
    transition: 0.3s ease-in-out;
}